streamlit==1.22.0
folium==0.14.0
streamlit-folium==0.10.1  # Versión modificada
geopy==2.3.0
pandas==1.5.3
shapely==1.8.5  # Versión anterior más estable
fpdf2==2.6.0
matplotlib==3.6.3
pyproj==3.4.0  # Versión reducida
unicodedata2
